header {
    display: flex;
    height: 100px;
    width: auto;
    background-color: green;
    margin: 0px;
    padding: 0px 100px 0px 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

header div.logo-name {
    display: flex;
    /* flex: 1px; */
    justify-content: center;
    color: wheat;
    height: fit-content;
    width: fit-content;
    text-align: left;
    font-size: 1.6rem;
}

header nav ul li a {
    /* display: flex; */
    text-align: left;
    font-size: 1.3rem;

}

header ul.navigation {
    display: flex;
    /* flex: 3px; */
    list-style: none;
    justify-content: right;
    text-align: right;
    gap: 30px;



}

header a {
    text-decoration: none;
    /* background-color: white; */
    color: rgb(255, 255, 255);
    /* padding: 6px 12px;
    border-radius: 15px;
    cursor: pointer; */

}

header a:hover {
    /* background-color: skyblue; */
    /* color: white; */
    text-decoration: underline ;
}

header a:visited {
    /* background-color: rgb(98, 92, 82); */
    /* color: rgb(251, 248, 248); */
}
